@import '../base.scss';

.team-wrapper {
  // margin: 1em;
  height: 39em;
  padding-bottom: 5em;
margin: 0 150px;
}

.team-ctr {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: 0 150px;
}

.team-title {
  font-size: 90px;
  margin: .5em;
}

.team-desc {
  font-size: 30px;
  margin: 1em;
}