.intro-ctr{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../assets/cityscape.png');
   background-repeat: no-repeat;
   background-position: left center;
   background-size: cover;
   background-blend-mode: darken;
  border-top: 1px black solid;
  height:800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-ctr::after{
opacity: 5;
}
.intro-text{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin:20px;
}
.intro-text-ctr{
  // background-color: #BCBCBC;

}