.intro-ctr{
  background-image: url('../assets/cityscape.png');
   background-repeat: no-repeat;
   background-position: left center;
   background-size: cover;
  border: 2px black solid;
  height:800px;
}

.intro-text{
  
  background: transparent;
  margin:20px;
}