@import '../base.scss';

  
    .test-ctr {
      padding: 0px;
    }
  


.test-wrapper{
  display:flex;
  flex-direction: column;
  padding: 40px 300px;
  justify-content:center;
}
  @media (max-width:0px)  {
    .test-wrapper{
      padding:100px;
    }
}

.test-ctr{
  background-color:$testimonial-bg;
  height:100%;
  color:white;
}
.test-desc{
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 50px;
  line-height: 2;
}
.test-name{
  font-size: 40px;
  font-weight: 900;
}
.test-name-title{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}