@import '../base.scss';

.work-ctr{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background: $work-bg-color;
  height:400px;
  color:$work-font-color;
}

.work-title{
  margin: 25px;
}
.work-desc{
  margin: 25px;
}
