@import '../base.scss';

.modal {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.modal-desc {
  color: $text-color;
  margin: 10px;
}

.modal-close {
  align-self: flex-end;
  height: 30px;
  width: 30px;
}

.form-inputs {
  height: 300px;
  display: flex;

}

.modal-input {
  margin: 10px;
  height: 30px;
  width: 200px;
  border-radius: 2%;
}

.modal-text {
  margin: 10px;
  height: 150px;
  width: 500px;
  border-radius: 2%;
}