@import '../base.scss';

.s-card-ctr {
  display: flex;
  justify-content: space-around;
  margin: 0 150px;
}

.services-card{
  height: 300px;
  width:300px
}

.s-card-img{
  height:100%;
  width:100%;
  border-radius: 2px;
}
.s-card-title{
font-weight: 900;
margin: 10px 0;
}

