@import './base.scss';
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

*{
  text-align: center;
  font-family: 'Libre Baskerville';
  text-decoration: none;
  margin: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

.App{
  color:$text-color;
  background-color: $background;
  
}
