
.flex{
display:flex;
justify-content: center;
align-items: center;
padding:0 auto;
}

.header-ctr{
  display:flex;
  justify-content: space-between;
  align-items: space-evenly;
}

.header-logo{
  height: 150px;
  margin-left: 50px;
}

.header-link{
  margin:15px;
  color:$link-color;
}

.header-bttn{
  background-color:$bttn-bg ;
  color:$bttn-text;
    outline: none;
    text-align:center;
    width: 125px;
    height:50px;
    align-self: center;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 10px;
}
.headroom-style{
  transition: all .5s ease-in-out;
}
.header-left-ctr{
  margin-left: 20px;
}
.header-right-ctr {
  margin-right: 20px;
}