
@media (min-device-width: 1300px) {
  div {
    .info-ctr {
  padding: 50px 300px;
    }
  }
}
.info-logo{
  height: 150px;
}
.info-ctr {
  background-color: $info-bg-color;
  padding: 10px;
}

.info-text {
  font-size: 30px;
  font-weight: 900;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}