


.services-card{
  // height: 300px;
  // width:300px;
  margin: 0 25px;
  

}

.s-card-img{
  height:200px;
  width:200px;
  border-radius: 2px;
  object-fit: cover;
}
.s-card-title{
font-weight: 900;
margin: 10px 0;
}

