.team-wrapper {
  min-height: 100%;
  margin: 50px 150px;
}

.team-ctr {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: 50px 150px;
}

.team-title {
  font-size: 40px;
  margin: 16px;
}

.team-desc {
  font-size: 25px;
  margin: 12px;
  letter-spacing: 1px;
}