
@media (min-device-width: 1300px) {
  div {
    .test-wrapper {
      padding: 40px 300px;

    }
  }
}

.test-ctr {
  padding: 0px;
}

.test-wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px;
  justify-content: center;
}

.test-ctr {
  background-color: $testimonial-bg;
  height: 100%;
  color: white;
}

.test-desc {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 50px;
  line-height: 2;
  letter-spacing: 2px;
}

.test-name {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;

}

.test-name-title {
  font-size: 20px;
  font-weight: 400;
    margin-bottom: 30px;

}